.Title {
    &>.title-container {
        position: absolute;
        left: 50%;
        translate: -50% 0;
        visibility: hidden;
        overflow: hidden;
        color: #22B7BD;
        text-wrap: nowrap;
        

        &.top {
            bottom: 105%;
        }
        
        &.bottom {
            top: 108%;
        }

        &.big {
            max-width: 55vh;
            font-size: 4.2vh;
        }

        &.small {
            font-size: 3vh;
        }
    }

    &.visible {
        &>.title-container {
            visibility: visible;
        }

        &.scroll {
            &>.title-container {
                &>.title {
                    display: inline-block;
                    animation: title-scroll 12s infinite linear;
        
                    &>:first-child {
                        margin-right: 20vh;
                    }
                }
            }
        }
    }
}

@keyframes title-scroll {
    14% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-50% - 10vh));
    }
}