@import "../../animations.css";

.Game {
    // from parent:
    // --click-duration

    position: relative;

    &>.cover {
        position: relative;
        --size: 36vh;
        width: var(--size);
        height: var(--size);
        outline-width: 0.8vh;
        outline-offset: 0.4vh;
        transition: scale var(--click-duration);
        
        &>img {
            width: 100%;
            height: 100%;
        }
    }

    &.selected {
        &>.cover {
            outline-style: solid;
            animation: changeOutlineColor 1s infinite linear;
        }
    }

    &.clicked {
        &>.cover {
            animation:
                changeOutlineColor 1s infinite linear,
                shrinkOnClick var(--click-duration) linear;
        }
    }
}