.Games {
    // from parent:
    // --padding

    height: 44vh;
    display: grid;

    .game-list {
        padding-inline: var(--padding);
        display: flex;
        gap: 1.6vh;
        align-items: end;
        touch-action: none;
    }
}