.Games {
    height: 48vh;
    display: grid;

    .game-list {
        padding-inline: 12vh;
        display: flex;
        gap: 1.6vh;
        align-items: end;
        // transition: translate 0.3s;
    }
}