@import "../../animations.css";

.Systemapp {
    // from parent:
    // --click-duration
    // --image

    .bubble {
        position: relative;
        --size: 12vh;
        height: var(--size);
        width: var(--size);
        background-color: white;
        border-radius: 100%;
        box-shadow: 0 0 0.8vh -0.4vh grey;

        &>.icon {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            height: 52%;
            aspect-ratio: 1;
            
            &>img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.selected {
        &>.bubble {
            outline-style: solid;
            outline-width: 0.6vh;
            animation: changeOutlineColor 1s infinite linear;
        }
    }

    &.clicked {
        &>.bubble {
            &>* {
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 100vh;
                    scale: 0;
                    animation: bubbleFadeOut 500ms;
                }
            }

            &>.news {
                transform-origin: bottom;
                animation: newsAnimation var(--click-duration);

                &::before {
                    background-color: hsla(357, 72%, 55%, 0.1);
                }
            }

            &>.eShop {
                animation: eShopAnimation var(--click-duration);

                &::before {
                    background-color: hsla(38, 95%, 45%, 0.1);
                }
            }

            &>.album {
                transform-origin: left bottom;
                animation: albumAnimation 1s;
                
                &::before {
                    transform-origin: 45% 44%;
                    background-color: hsla(216, 83%, 47%, 0.1);
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-image: var(--image);
                    background-size: contain;
                    transform-origin: left bottom;
                    animation: albumAfterAnimation 1s;
                
                    // clips only part of the frame for the background image
                    clip-path: polygon(
                        0 77%,
                        0 100%,
                        100% 100%,
                        100% 0,
                        70% 0,
                        70% 23%,
                        92% 23%,
                        92% 77%
                    );
                }
            }

            &>.controller {
                transform-origin: 35% 65%;
                animation: controllerAnimation var(--click-duration);

                &::before {
                    background-color: hsla(165, 2%, 41%, 0.1);
                }
            }

            &>.settings {
                animation: settingsAnimation var(--click-duration);

                &::before {
                    background-color: hsla(165, 2%, 41%, 0.1);
                }
            }
            
            &>.standby {
                &::before {
                    background-color: hsla(165, 2%, 41%, 0.1);
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-image: var(--image);
                    background-size: contain;
                    animation: fadeOut var(--click-duration);
                }
            }

            &>.allApps {
                // animation:  var(--click-duration);

                &::before {
                    background-color: hsla(165, 2%, 41%, 0.1);
                }
            }
        }
    }
}

@keyframes bubbleFadeOut {
    25% {
        scale: 2.35;
    }
    80% {
        opacity: 1;
        scale: 2.35;
    }
    100% {
        scale: 2;
        opacity: 0;
    }
}

@keyframes newsAnimation {
    50% {
        scale: 1.1;
    }
}

@keyframes eShopAnimation {
    50% {
        transform: translateY(-1vh);
    }
}

@keyframes albumAnimation {
    10%, 90% {
        rotate: -10deg;
    }
}
@keyframes albumAfterAnimation {
    10%, 90% {
        rotate: 20deg;
    }
}

@keyframes controllerAnimation {
    25% {
        rotate: -15deg;
    }
    75% {
        rotate: 15deg;
    }
}

@keyframes settingsAnimation {
    50% {
        scale: 1.15;
    }
    100% {
        rotate: 45deg;
    }
}