.Systemapp {
    .bubble {
        position: relative;
        height: 9vh;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 100%;
            
        &>.icon {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            height: 52%;
            aspect-ratio: 1;
            
            &>img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.true {
        &>.bubble {
            outline-style: solid;
            outline-width: 0.5vh;
            animation: outline-color 1s infinite linear;
        }
    }
}

@keyframes outline-color {
    0% {
        outline-color: #10C5C1;
    }
    50% {
        outline-color: #5DF9DE;
    }
    100% {
        outline-color: #10C5C1;
    }
}

@keyframes title-scroll {
    20% {
        margin-left: 0;
    }
    100% {
        margin-left: -100%;
    }
}