:root {
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  /* pointer-events: none; */
}

body {
  overflow: hidden;
  background-color: #ECEBEC;
}