:root {
  font-family: system-ui, sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  /* pointer-events: none; */
}

body {
  overflow: hidden;
  background-color: #ECEBEC;
}



@keyframes outline-color {
  0% {
      outline-color: #10C5C1;
  }
  50% {
      outline-color: #5DF9DE;
  }
  100% {
      outline-color: #10C5C1;
  }
}